.home-container {
    color: #091F2C;
}

.welcome-container {
    width: 100%;
    padding-top: 15.17%;
    padding-bottom: 8.9%;
    /* padding-left: 18.15%;
    padding-right: 18.15%; */
}

.welcome-title {
    font-size: 96px;
    line-height: 100px;
}

.welcome-title-name {
    font-family: 'MontserratBold';
}

.welcome-title-desc {
    font-size: 36px;
}

.featured-container {
    /* padding-bottom: 6.37%; */
}

.main-feature-container {
    position: relative;
}

.overlapped-text {
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(-50%, -50%);
    text-align: left;
    line-height: 20px;
}

.overlapped-title {
    font-size: 32px;
    font-family: 'MontserratExtraBold';
    line-height: 2vw;
}

.overlapped-detail {
    font-size: 22px;
    line-height: 0.7vw;
}

@media screen and (max-width: 1200px) {
    .welcome-title {
        font-size: 2.5em;
        line-height: 8vw;
    }
    .welcome-title-desc {
        font-size: 1.1em;
    }
    .overlapped-text {
        display: none;
    }
    .overlapped-title {
        font-size: 1em;
    }
    .overlapped-detail {
        font-size: 0.7em;
    }
}