.info-container {
    text-align: left;
    color: #091F2C;
}

.profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8.5%;
    padding-right: 8.5%;
    padding-top: 10%;
}

.profile-pic-container {
    width: 50%;
    justify-content: center;
    display: flex;
    height: max-content;
    margin: 2%;
}

.profile-title-container {
    width: 50%;
    justify-content: center;
}

.profile-title {
    font-size: 96px;
    line-height: 100px;
}

.title-font-size {
    font-size: 36px;
    font-family: 'MontserratBold';
}

.desc-font-size {
    font-size: 24px;
}

.profile-edu-exp-container {
    display: flex;
    padding-left: 7.9%;
    padding-right: 7.9%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.profile-edu-container {
    width: 50%;
    justify-content: center;
    height: max-content;
    margin: 1%;
}

.profile-exp-container {
    width: 50%;
    justify-content: center;
    height: max-content;
    margin: 1%;
}

.skill-background {
    background-color: #091f2c1f;
}

.skill-container {
    display: flex;
    padding-left: 7.2%;
    padding-right: 7.2%;
    padding-top: 5%;
    padding-bottom: 15%;
}

.skill-info {
    width: 33.33%;
    margin: 2%;
}

.contact-bg {
    background-color: #091F2C;
    top: -85px;
    position: relative;
}

.contact-container {
    display: flex;
    padding-left: 9.1%;
    padding-right: 9.1%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contact-name-email {
    display: flex;
}

.contact-item {
    width: 50%;
    margin: 1%;
}

.contact-item-full {
    width: 100%;
    padding: 1%;
}

.contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .title-font-size {
        font-size: 30px;
    }
    .desc-font-size {
        font-size: 20px;
    }
    .profile-container {
        flex-direction: column-reverse;
    }
    .profile-pic-container {
        width: 100%;
    }
    .profile-title-container {
        width: 100%;
    }
    .profile-title {
        font-size: 72px;
        line-height: 72px;
    }
    .profile-edu-exp-container {
        flex-direction: column;
    }
    .profile-edu-container {
        width: 100%;
    }
    .profile-exp-container {
        width: 100%;
    }
    .skill-container {
        flex-direction: column;
        padding-bottom: 25%;
    }
    .skill-info {
        width: 100%;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-name-email {
        flex-direction: column;
    }
    .contact-item {
        width: 100%;
    }
    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

img {
    /* display: inline; */
    /* margin: 0 auto; */
    height: auto;
    width: 100%;
}

.profile-title-name {
    font-family: 'MontserratBold';
}

.edu-exp-container {
    display: flex;
}

.edu-exp-year {
    color: #9DA5AB;
    width: 30%;
}

.edu-exp-info {
    width: 70%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.edu-exp-info-desc {
    color: #888888;
}

.contact-zigzag {
    text-decoration: none;
    position: relative;
    z-index: 10;
    top: -84px;
}

.contact-header {
    width: 40%;
}

.contact-title {
    color: white;
}

.contact-form-label {
    display: flex;
    margin-bottom: 5px;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 24px;
    color: #fff;
}

.contact-form-input {
    border-radius: 40px;
    width: 100%;
}