.info-container {
    text-align: left;
    color: #091F2C;
}

.profile-container {
    height: 856px;
    display: flex;
    align-items: center;
    padding-left: 190px;
    padding-right: 190px;
}

.profile-pic-container {
    width: 50%;
    justify-content: center;
    display: flex;
    height: max-content;
}

.profile-pic-border {
    width: 532px;
    height: 532px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px;
}

.profile-pic-properties {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.profile-title-container {
    width: 50%;
    justify-content: center;
}

.profile-title {
    font-size: 96px;
    line-height: 100px;
}

.profile-title-name {
    font-family: 'MontserratBold';
}

.profile-info {
    font-size: 24px;
}

.profile-edu-exp-container {
    height: 802px;
    display: flex;
    padding-left: 190px;
    padding-right: 190px;
}

.profile-edu-container {
    width: 50%;
    justify-content: center;
    height: max-content;
}

.profile-exp-container {
    width: 50%;
    justify-content: center;
    height: max-content;
}

.edu-exp-title {
    font-size: 36px;
    font-family: 'MontserratBold';
}

.edu-exp-container {
    display: flex;
}

.edu-exp-year {
    font-size: 36px;
    color: #9DA5AB;
    width: 30%;
    font-family: 'MontserratBold';
}

.edu-exp-info {
    font-size: 24px;
    width: 70%;
}

.edu-exp-info-desc {
    font-size: 24px;
    opacity: 60%;
}

.skill-container {
    height: 473px;
    display: flex;
    background-color: #091f2c1f;
}

.skill-info {
    width: 33.33%;
}

.contact-zigzag {
    text-decoration:none;
    position: relative;
    z-index: 10;
    top: -84px;
}

.contact-email {
    background-color: #091F2C;
    height: 670px;
    position: relative;
    top: -85px;
    display: flex;
}

.contact-header {
    width: 40%;
}

.contact-title {
    font-size: 36px;
    font-family: 'MontserratBold';
    color: white;
}

.contact-form {
    width: 60%;
}