.info-container {
    text-align: left;
    color: #091F2C;
}

.profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 11.3%;
    padding-right: 11.3%;
    padding-top: 10%;
}

.profile-title {
    font-size: 96px;
    line-height: 100px;
}

.profile-info {
    font-size: 24px;
}

.profile-edu-exp-container {
    display: flex;
    padding-left: 11.3%;
    padding-right: 11.3%;
    padding-top: 10%;
}

.skill-background {
    background-color: #091f2c1f;
}

.skill-container {
    display: flex;
    padding-left: 11.3%;
    padding-right: 11.3%;
    padding-top: 7%;
}

.contact-email {
    background-color: #091F2C;
    height: 670px;
    position: relative;
    top: -85px;
    display: flex;
}

@media screen and (max-width: 1150px) {
    .profile-container {
        flex-direction: column-reverse;
    }
    .profile-title {
        font-size: 72px;
        line-height: 75px;
    }
    .profile-info {
        font-size: 20px;
    }
    .profile-edu-exp-container {
        flex-direction: column;
    }
    .skill-container {
        flex-direction: column;
    }
    .contact-email {
        flex-direction: column;
    }
}

.profile-pic-container {
    width: 50%;
    justify-content: center;
    display: flex;
    height: max-content;
    margin: 2%;
}

.profile-pic-border {
    /* position: relative; */
    /* overflow: hidden; */
    /* border-radius: 50%; */
    /* margin: 15px; */
}

img {
    /* display: inline; */
    /* margin: 0 auto; */
    height: auto;
    width: 100%;
}

.profile-title-container {
    width: 50%;
    justify-content: center;
}

.profile-title-name {
    font-family: 'MontserratBold';
}

.profile-edu-container {
    width: 50%;
    justify-content: center;
    height: max-content;
}

.profile-exp-container {
    width: 50%;
    justify-content: center;
    height: max-content;
}

.edu-exp-title {
    font-size: 36px;
    font-family: 'MontserratBold';
}

.edu-exp-container {
    display: flex;
}

.edu-exp-year {
    font-size: 36px;
    color: #9DA5AB;
    width: 30%;
    font-family: 'MontserratBold';
}

.edu-exp-info {
    font-size: 24px;
    width: 70%;
}

.edu-exp-info-desc {
    font-size: 24px;
    color: #888888;
}



.skill-info {
    width: 33.33%;
}

.contact-zigzag {
    text-decoration: none;
    position: relative;
    z-index: 10;
    top: -84px;
}



.contact-header {
    width: 40%;
}

.contact-title {
    font-size: 36px;
    font-family: 'MontserratBold';
    color: white;
}

.contact-form {
    width: 60%;
}