.navbar-size {
    height: 115px;
    padding: 0px;
}

.mynavbar-link-container {
    margin-left: 251px;
    margin-right: 390px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 57px; */
}

.navbar-link-item {
    margin-right: 70px;
    padding: 0px;
    font-size: 15px;
}

.navbar-link-item-last {
    margin-right: 0px;
    padding: 0px;
    font-size: 15px;
}

.logo-properties {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-left: 91px;
}

.app-router-bg {
    background-color: white;
}