.navbar-size {
    height: 115px;
}

.logo-properties {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-left: 91px;
}

.navbar-toggler {
    border: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

/* @media screen and (min-width: 1200px) {
    .navbar-collapse.collapsing {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        overflow: visible;
    }
} */

@media screen and (max-width: 1200px) {
    .navbar-size {
        height: 88px;
    }
    .logo-properties {
        width: 22px;
        height: 22px;
        margin-left: 20px;
    }
    .navbar-nav {
        height: 100vh !important;
        justify-content: space-evenly;
        padding-bottom: 12%;
    }
    .navbar-toggler {
        margin-right: 20px;
    }
    .navbar-toggler-icon {
        width: 22px;
        height: 22px;
    }
}

.navbar-bg {
    background-color: white;
}

.navbar-link-list {
    margin: 0px;
}

.navbar-link-item {
    font-size: 15px;
    margin-left: 32px;
    margin-right: 32px;
    font-weight: 700;
}