.footer-text-container {
    padding-top: 16px;
    padding-bottom: 33px;
    padding-left: 4.76%;
    padding-right: 4.76%;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .footer-text-container {
        font-size: 10px;
    }
}