.work-text-container {
    display: flex;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 6.9%;
    padding-bottom: 6.9%;
}

.work-title {
    width: 40%;
    text-align: left;
}

.work-title-name {
    font-family: 'MontserratBold';
    font-size: min(1.44vw, 24px);
}

.work-title-role {
    font-family: 'MontserratBold';
    font-size: min(1.08vw, 18px);
    color: #888888;
}

.work-description {
    width: 60%;
    text-align: left;
    font-size: min(1.08vw, 18px);
}

.video-container {
    background-color: #e5e5e5;
    height: calc(100vw*0.5625);
}

.video-placeholder {
    height: 17.41%;
}

.video-component {
    width: 65.18%;
    height: 65.1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .work-text-container {
        padding-top: 13%;
    }
    .work-title {
        width: 100%;
        text-align: center;
    }
    .work-description {
        width: 100%;
        text-align: center;
    }
    .work-title-name {
        font-size: 0.9em;
    }
    .work-title-role {
        font-size: 0.8em;
    }
    .work-description {
        font-size: 0.8em;
    }
    .video-placeholder {
        height: 0%;
    }
    .video-component {
        width: 100%;
        height: 100%;
    }
}