@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: local('MontserratBold'), url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

.App {
  text-align: center;
  font-family: 'Montserrat';
  color: #091F2C;
}

.App-header {}

.App-body {
  padding-top: 115px;
  background-color: #ffffff;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: 'Montserrat';
}

.App-footer {
  height: 2vh;
  font-size: 15px;
}